.form-group A {
  text-decoration: none !important;
}

.link_imitation {
  cursor: pointer;
}

.link_imitation:hover {
  color: #1e7e34 !important;
}

.link_imitation:active {
  color: #28a745 !important;
}
